{
  "swagger": "2.0",
  "info": {
    "title": "Helpdesk API",
    "version": "1.0",
    "description": "Provides access to Helpdesk related operations."
  },
  "host": "middleware-lab.zendesk.com",
  "schemes": [
    "https"
  ],
  "basePath": "/api/v2",
  "paths": {
    "/organizations.json": {
      "post": {
        "summary": "Create Organisation",
        "description": "Creates an organisation entity.",
        "operationId": "create-organisation",
        "parameters": [
          {
            "in": "body",
            "name": "Organisation Data",
            "description": "A JSON payload containing the organisation data.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/helpdesk-data"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The organisation was created with success.",
            "headers": {
              "Entity-Id": {
                "type": "string",
                "description": "The ID of the created organisation."
              }
            }
          }
        }
      }
    },
	"/users.json": {
      "post": {
        "summary": "Create User",
        "description": "Creates a user entity.",
        "operationId": "create-user",
        "parameters": [
          {
            "in": "body",
            "name": "User Data",
            "description": "A JSON payload containing the user data.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/helpdesk-data"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The user was created with success.",
            "headers": {
              "Entity-Id": {
                "type": "string",
                "description": "The ID of the created user."
              }
            }
          }
        }
      }
    },
    "/heart-beat": {
      "get": {
        "description": "Standard diagnostics method, used to test the health of the facade's underlying system.",
        "operationId": "heart-beat",
        "parameters": [],
        "responses": {
          "200": {
            "description": "The standard/only response from the method."
          }
        }
      }
    }
  },
  "definitions": {
    "helpdesk-data": {
      "type": "object"
    }
  }
}
