{
  "swagger": "2.0",
  "info": {
    "title": "ITSM API",
    "version": "1.0",
    "description": "Provides access to ITSM related operations."
  },
  "host": "dfetest.service-now.com",
  "schemes": [
    "https"
  ],
  "basePath": "/api/now/v1/table",
  "paths": {
    "/incident": {
      "post": {
        "summary": "Create Incident",
        "description": "Creates an incident entity.",
        "operationId": "create-incident",
        "parameters": [
          {
            "in": "body",
            "name": "Incident Data",
            "description": "A JSON payload containing the incident data.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/itsm-data"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The incident was created with success.",
            "headers": {
              "Entity-Id": {
                "type": "string",
                "description": "The ID of the created incident."
              }
            }
          }
        }
      }
    },
    "/heart-beat": {
      "get": {
        "description": "Standard diagnostics method, used to test the health of the facade's underlying system.",
        "operationId": "heart-beat",
        "parameters": [],
        "responses": {
          "200": {
            "description": "The standard/only response from the method."
          }
        }
      }
    }
  },
  "definitions": {
    "itsm-data": {
      "type": "object"
    }
  }
}
